﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Logout.aspx.cs" Inherits="Logout" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Size="XX-Large" 
            Text="LOG OUT TEXT!!!"></asp:Label>
        <br />
        <asp:Label ID="lblCourseNo" runat="server" Font-Bold="True" Font-Size="XX-Large" 
            Text="LOG OUT TEXT!!!"></asp:Label>
        <br />
        <asp:Label ID="lblTWWID" runat="server" Font-Bold="True" Font-Size="XX-Large" 
            Text="LOG OUT TEXT!!!"></asp:Label>
    </div>
    </form>
</body>
</html>
