﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tooldec.aspx.cs" Inherits="tooldec" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </br>
        <asp:Button ID="Button1" runat="server" Text="DECR" 
        onClick = "btnDelComment_Click" />
        <br />
        <asp:Button ID="Button2" runat="server" Text="ENC" 
        onClick = "btnDelComment2_Click" />
        </br>
        <asp:Button ID="Button3" runat="server" Text="RUN" />
        <%--onClick = "btnDelComment3_Click"--%>
        </br>
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
    </div>
    </form>
</body>
</html>
