html, body, form
{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-size: small;
    color: #696969;
}

* html html, * html body, * html form
{
    height: 100%; /*IE6 only*/
}

h1
{
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

hr
{
    border: none;
    border-top: 1px solid #CCCCCC;
    height: 1px;
    margin-bottom: 25px;
}

/* ---------------------- Dolphin nav ---------------------- */
#dolphincontainer
{
    position: relative;
    height: 35px;
    color: #E0E0E0;
    background: #001538;
    width: 100%;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
}

#dolphinnav
{
    position: relative;
    height: 33px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff url(Images/dolphin_bg.gif) repeat-x bottom left;
    padding: 0 0 0 20px;
}

#dolphinnav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: auto;
    float: left;
}

#dolphinnav ul li
{
    display: block;
    float: left;
    margin: 0 1px;
}

#dolphinnav ul li a
{
    display: block;
    float: left;
    color: #EAF3F8;
    text-decoration: none;
    padding: 0 0 0 20px;
    height: 33px;
}

#dolphinnav ul li a span
{
    padding: 12px 20px 0 0;
    height: 21px;
    float: left;
}

#dolphinnav ul li a:hover
{
    color: #fff;
    background: transparent url(Images/dolphin_bg-OVER.gif) repeat-x bottom left;
}

#dolphinnav ul li a:hover span
{
    display: block;
    width: auto;
    cursor: pointer;
}

#dolphinnav ul li a.current, #dolphinnav ul li a.current:hover
{
    color: #fff;
    background: #1D6893 url(Images/dolphin_left-ON.gif) no-repeat top left;
    line-height: 275%;
}

#dolphinnav ul li a.current span
{
    display: block;
    padding: 0 20px 0 0;
    width: auto;
    background: #1D6893 url(Images/dolphin_right-ON.gif) no-repeat top right;
    height: 33px;
}
/* ---------------------- END Dolphin nav ---------------------- */

.txtMultiline
{
    overflow: auto;
}

.MyModalPanel
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f1f1f1 url(Images/loadingdset.gif) center center no-repeat;
}

#ParentDivElement
{
    height: 100%;
    width: 100%;
    position: relative;
}

#ParentDivElement .childPanel
{
    width: 100%;
    height: 100%;
    position: relative;
}

.container
{
    padding: 5px;
    margin: 5px;
    width: auto;
    height: auto; /*min-width: 1050px;*/
    border: solid 1px #ccc;
    position: relative;
}

.paneldefault
{
    border: solid 1px #ccc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.insidecontainer
{
    background-color: #f1f1f1;
    padding: 10px;
}

.msgnotification
{
    background-color: #ffffcd;
    border: dashed 1px #ccc;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 7px;
    max-width: 1000px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

.msgnotificationerror
{
    background-color: Red;
    border: dashed 1px #ccc;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 7px;
    max-width: 1000px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
}

#managecontrol
{
    padding: 1px;
    margin-bottom: 10px;
}

#managecontrol a
{
    padding: 4px 20px 4px 20px;
    text-decoration: none;
    background-color: #8d8d8d;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
}

#managecontrol a:hover
{
    background-color: #9a9a9a;
}

.displayerror
{
    color: Red;
    /*font-size: small;
    font-weight: bold;*/
}

.displayerror2
{
    color: Red;
    font-weight: bold;
}

.checkBoxList
{
    max-height: 150px;
    height: auto !important;
    height: 100px;
}

.divFieldLabel
{
    padding-bottom: 5px;
    font-weight: Bold;
    color: black;
}

.divField
{
    margin-left: 5px;
    padding-bottom: 5px;
}

.divFieldLabel1
{
    padding-bottom: 5px;
    font-weight: Bold;
    color: black;
    width: 300px !important;
}

.divFieldLabel2
{
    padding-bottom: 5px;
    color: black;
}

.divContainer2
{
    padding-bottom: 10px;
}

.noteLabel {
    color: #0066FF;
    font-size: 10px;
}



